.veiw-port {
    width: 1000px;
    height: 500px;
    border: 2px solid var(--tertiary-color);
}

.popup {
    background-color: var(--primary-color);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    width: 150px;
    height: 200px;
    font-size: 9px;
    visibility: hidden;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup .top-popup {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 18px 18px 0 0;
}

.popup .image-popup {
    display: flex;
    background-color: var(--primary-color);
    border-radius: 0 0 20px 20px;
    height: 80%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}